
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f5f5f5;
}

.auth-body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(to right,#141e30,#243b55);
}

.auth-box{
background:white;
padding:40px;
width:350px;
border-radius:10px;
text-align:center;
}

.auth-box input{
width:100%;
padding:12px;
margin:10px 0;
}

.auth-box button{
width:100%;
padding:12px;
background:#141e30;
color:white;
border:none;
cursor:pointer;
}

header{
background:#111827;
padding:20px 50px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
color:white;
font-size:30px;
font-weight:bold;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
}

.banner{
height:90vh;
background:url('https://images.unsplash.com/photo-1441986300917-64674bd600d8');
background-size:cover;
display:flex;
justify-content:center;
align-items:center;
}

.banner-content{
background:rgba(0,0,0,0.6);
padding:50px;
border-radius:10px;
text-align:center;
color:white;
}

.banner-content h1{
font-size:50px;
margin-bottom:20px;
}

.banner-content button{
padding:12px 30px;
background:#ff6600;
color:white;
border:none;
cursor:pointer;
}

.categories{
padding:60px 20px;
text-align:center;
}

.category-grid,.product-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:40px;
}

.category-card,.product-card{
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
transition:0.3s;
}

.category-card:hover,.product-card:hover{
transform:translateY(-8px);
}

.category-card img,.product-card img{
width:100%;
height:250px;
object-fit:cover;
}

.category-card h3,.product-card h3{
padding:15px;
}

.products{
padding:50px 20px;
text-align:center;
}

/* SEARCH BAR CONTAINER */

.search-box{
display:flex;
justify-content:center;
align-items:center;
margin-top:35px;
width:100%;
}

/* SEARCH INPUT */

#searchInput{
width:70%;
max-width:700px;
padding:18px 25px;
font-size:20px;
border:none;
outline:none;
border-radius:50px;
background:white;
box-shadow:0 8px 25px rgba(0,0,0,0.15);
transition:0.3s;
}

/* PLACEHOLDER */

#searchInput::placeholder{
color:#888;
font-size:18px;
}

/* HOVER */

#searchInput:hover{
transform:scale(1.02);
}

/* FOCUS EFFECT */

#searchInput:focus{
box-shadow:0 8px 30px rgba(255,153,0,0.5);
border:2px solid #ff9900;
}

/* MOBILE */

@media(max-width:768px){

#searchInput{
width:90%;
font-size:17px;
padding:15px 20px;
}

}

.products-grid{
padding:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.product-card{
background:white;
border-radius:12px;
overflow:hidden;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
transition:0.3s;
text-align:center;
padding-bottom:20px;
}

.product-card:hover{
transform:translateY(-8px);
}

.product-card img{
width:100%;
height:250px;
object-fit:cover;
}

.product-card h3{
margin:15px 0;
}

.product-card p{
font-size:20px;
margin-bottom:15px;
font-weight:bold;
color:#0f766e;
}

.product-card button{
padding:12px 25px;
background:#111827;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.product-card button:hover{
background:#2563eb;
}

.cart-section,.checkout{
padding:60px 20px;
text-align:center;
}

.cart-box{
background:white;
padding:20px;
margin:20px auto;
max-width:500px;
border-radius:10px;
}

.checkout-form{
max-width:500px;
margin:auto;
}

.checkout-form input,
.checkout-form textarea,
.checkout-form select{
width:100%;
padding:15px;
margin-bottom:20px;
}

.checkout-form button,
.checkout-btn{
padding:12px 30px;
background:#ff6600;
border:none;
color:white;
cursor:pointer;
}

footer{
background:#111827;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
